PORT=3000
DATABASE_URL=postgresql://postgres:postgrespassword@localhost:5432/linkedin_user_search
ELASTICSEARCH_NODE=http://localhost:9200
CSV_FILE_PATH=./db/300 user linkedin.csv
CLIENT_ORIGIN=http://localhost:5173
